@font-face {
   font-family: "Segoe UI";
   src: url("../fonts/SegoeUI.eot");
   src: url("../fonts/SegoeUI.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI.woff2") format("woff2"),
      url("../fonts/SegoeUI.woff") format("woff"), url("../fonts/SegoeUI.ttf") format("truetype");
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: "Segoe UI";
   src: url("../fonts/SegoeUI-Bold.eot");
   src: url("../fonts/SegoeUI-Bold.eot?#iefix") format("embedded-opentype"),
      url("../fonts/SegoeUI-Bold.woff2") format("woff2"), url("../fonts/SegoeUI-Bold.woff") format("woff"),
      url("../fonts/SegoeUI-Bold.ttf") format("truetype");
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: "Segoe UI";
   src: url("../fonts/SegoeUIBlack.eot");
   src: url("../fonts/SegoeUIBlack.eot?#iefix") format("embedded-opentype"),
      url("../fonts/SegoeUIBlack.woff2") format("woff2"), url("../fonts/SegoeUIBlack.woff") format("woff"),
      url("../fonts/SegoeUIBlack.ttf") format("truetype");
   font-weight: 900;
   font-style: normal;
}

@font-face {
   font-family: "Clear Sans";
   src: url("../fonts/ClearSans.eot");
   src: url("../fonts/ClearSans.eot?#iefix") format("embedded-opentype"),
      url("../fonts/ClearSans.woff2") format("woff2"), url("../fonts/ClearSans.woff") format("woff"),
      url("../fonts/ClearSans.ttf") format("truetype");
   font-weight: 400;
   font-style: normal;
}
